<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>she</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
.card{
  display: flex;
}
.card-body{
  color:white;
}
.card:hover {
  opacity: 0.9;
}
</style>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 1rem 3rem 1rem 3rem;">
  <a class="navbar-brand" href="/">KAREN WILL WRITE</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="/compose" style="padding-right: 2rem;">COMPOSE</a>
      <a class="nav-item nav-link" href="/compose" style="padding-right: 2rem;">SAVED</a>
      <a class="nav-item nav-link" href="/profile" style="padding-right: 2rem;">PROFILE</a>
      <a class="nav-item nav-link" href="/about" style="padding-right: 2rem;">ABOUT</a>
    </div>
  </div>
</nav>
    <body>
        <div class="container-sm" style="margin: 0rem 3rem 0rem 3rem">