<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>she</title>
    <meta charset="utf-8">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css" rel="stylesheet"/>
<style>
</style>

</head>
<body>

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form action="/login" method="post">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" name="email" class="form-control form-control-lg" />
            <label class="form-label" >Email address</label>
          </div>

          <div class="form-outline mb-4">
            <input type="password" name="password" class="form-control form-control-lg" />
            <label class="form-label">Password</label>
          </div>
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>

          <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="/signup"
            role="button">
            <i class="fab fa-twitter me-2"></i>Sign up</a>

        </form>
      </div>
    </div>
  </div>
</section>
</body>